<!-- editModule Page - Enables users to update a module within the SQL database -->
<body>
    <h1>Edit Module</h1>

    <!-- If there are any errors passed to the page, they will display here -->
    <% if (errors !=undefined){%>
        <ul>
            <%errors.forEach((error)=> { %>
                <li>
                    <%=error.msg %>
                </li>
            <% })%>
        </ul>
    <% } %>

    <!-- Enables user to input values to update -->
    <!-- When submitted, makes a POST request to '/module/edit/:mid' -->
    <form action="/module/edit/<%= module.mid %>" method="POST">
        <label>Module ID</label>    
        <!-- First field is marked as readonly -->
        <input type="text" name="mid" value=<%=module.mid %> readonly><br>
        
        <label>Name</label>
        <input type="text" name="name" value="<%= module.name %>"><br>
        
        <label>Credits</label>
        <input type="text" name="credits" value="<%= module.credits %>"><br>
        
        <!-- On click, will make a POST request to specified url -->
        <input type="submit" value="Update">
    </form>

    <!-- Links back to the home page (home.html) -->
    <a href="/">Home</p>
</body>