<!-- Applies styling to the table element -->
<style>
    table,
    th,
    td {
        border: 1px solid black;
    }
</style>

<body>
    <h1>Modules</h1>
    <table>
        <tr>
            <th>Module ID</th>
            <th>Name</th>
            <th>Credits</th>
            <th>Update</th>
            <th>Students</th>
        </tr>
        <!-- Displays each object within the passed in array (from index.js)(EJS)-->
        <% modules.forEach((module)=> { %>
            <tr>
                <td>
                    <%= module.mid %>
                </td>
                <td>
                    <%= module.name %>
                </td>
                <td>
                    <%= module.credits %>
                </td>

                <!-- Buttons for each entry, making GET requests to separate paths 
                (Update a module, list all students studying the current module) -->
                <td><a href="/module/edit/<%= module.mid %>">Update</a></td>
                <td><a href="/module/students/<%= module.mid %>">List</a></td>
            </tr>
            <% }) %>
    </table>

    <!-- Links back to the home page (home.html) -->
    <p><a href="/">Home</p>
</body>